/* 프로젝트 내부의 아이콘 스타일을 결정하는 css 파일입니다. */

i{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: 50%;
    margin-top: -15px;
    right: 50%;
    margin-right: -47%;
}

#pwd{
	height:24px;
}